@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h2>Add a new specialty</h2>

<hr/>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <input type="submit" value="Add new Specialty" />
}

<hr/>

<p>@Html.ActionLink("Show all Specialties", "Index")</p>